In [22]:
import pandas as pd
import numpy as np

In [23]:
notas = pd.DataFrame({'notas': ['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#']})

In [24]:
notas

   notas
0      A
1     A#
2      B
3      C
4     C#
5      D
6     D#
7      E
8      F
9     F#
10     G
11    G#

In [25]:
mayor = notas.iloc[[0,2,4,5,7,9,11]]
menor

In [26]:
mayor

   notas
0      A
2      B
4     C#
5      D
7      E
9     F#
11    G#

In [27]:
mayor = mayor['notas'].tolist()

In [28]:
mayor

['A', 'B', 'C#', 'D', 'E', 'F#', 'G#']

In [29]:
campo_mayor= ["", "m", "m", "", '7', "m", "°"]
campo_menor

In [30]:

escala_mayor = [x+y for x, y in zip(mayor, campo_mayor)]
escala_mayor

['A', 'Bm', 'C#m', 'D', 'E7', 'F#m', 'G#°']