In [1]:
import pandas as pd
import numpy as np

In [2]:
notas = pd.DataFrame({'notas': ['A', 'A#', 'B', 'C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#']})

In [3]:
notas

   notas
0      A
1     A#
2      B
3      C
4     C#
5      D
6     D#
7      E
8      F
9     F#
10     G
11    G#

In [4]:
mayor = notas.iloc[[3,6]]

In [5]:
mayor

  notas
3     C
6    D#

In [6]:
mayor = mayor['notas'].tolist()

In [7]:
mayor

['C', 'D#']